* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  color: #191919;
  background: #e8e8e8;
}

::-webkit-scrollbar {
  display: none;
}

/* 기본 링크 스타일 제거 */
a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

input {
  border: none;
  outline: none;
  font: inherit;
}
